<app-template-b [title]="title" [subtitle]="subtitle">
  <app-tableau-light [headers]="headers">
    <tr *ngFor="let item of collection">
      <td>{{ item.name }}</td>
      <td>{{ item.email }}</td>
      <td [appState]="item.state">
        <select (change)="updateState(item, $event)">
          <option *ngFor="let state of states | keyvalue" [value]="state.value" [selected]="item.state === state.value">{{ state.value }}</option>
        </select>
      </td>
    </tr>
  </app-tableau-light>
  <app-button [text]="addBtnText" [route]="addBtnRoute"></app-button>
  <!--<app-button [text]="addBtnText" [route]="addBtnRoute" [fragment]="addBtnFragment"></app-button>-->
</app-template-b>
